.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto;
    padding: 2rem 0.5rem;
}

.container h2 {
    text-align: center;
}

.container > * {
    margin: 0.3rem;
}

.courseNumInput {
    width: 100%;
}

.center {
    align-self: center;
}

.uppercaseInput {
    text-transform: uppercase;
}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    width: 30%;
    margin: 2rem 0;
}

@media (min-width: 40rem) {
    .container {
        width: 60%;
        max-width: 40rem;
    }
}
