.formButton {
    width: 10rem;
    margin: 1rem;
}

.form {
    width: 50%;
    margin: 1rem auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
