.btn {
    text-align: center;
    background-color: #2e659c;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 5px;
    font: inherit;
    font-weight: bold;
}

.btn:hover,
.btn:focus,
.btn:active {
    background: #028fbe;
    color: whitesmoke;
}

.btn:focus {
    outline: none;
}
.btn:disabled {
    background: #949393;
    color: whitesmoke;
    cursor: auto;
}


.outline-red {
    background: white;
    border: 1px solid crimson;
    color: crimson;
}
.outline-red:hover,
.outline-red:focus,
.outline-red:active {
    background: crimson;
    color: white;
}

.outline-blue {
    background: whitesmoke;
    border: 1px solid #3fc1c9;
    color: #235255;
}
.outline-blue:hover,
.outline-blue:focus,
.outline-blue:active {
    background: #3fc1c9;
    color: whitesmoke;
}