.title {
    text-align: center;
    margin: 2rem;
}

.container {
    margin: 1.5rem;
    padding-bottom: 1rem;
    overflow: auto;
    background: #00808057;
    font-size: small;
    white-space: nowrap;
    font-weight: bold;
    font-style: italic;
}

.table {
    border-collapse: collapse;
    width: 90%;
    margin: auto 3rem;
}

.table th,
.table td {
    border: 2px solid #008080;
    padding: 0.75rem;
    text-align: center;
    width : 30rem;
}
.table td div {
    padding: 0.3rem;
}

.table th {
    border-bottom-color: #016969;
}

.table th:first-child {
    border-right-color: #016969;
}

.table tbody td:first-child {
    border-right-color: #016969;
}

@media (min-width: 40rem) {
    .container {
        box-shadow: 3px 3px 6px 6px #00808057;
    }
}
