.form {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin-bottom: 2rem;
    width: 100%;
}

.listContainer {
    padding: 2rem 0;
    overflow: auto;
    width: 90%;
    border: 1px solid black;
    max-height: 20rem;
}

.enrollBtn {
    margin-top: 2rem;
    width: 40%;
}

.enrollList {
    border-collapse: collapse;
    margin: auto;
}

.enrollList tr:nth-child(even) {
    background: #abc;
}

.enrollList td,
.enrollList th {
    padding: 0.5rem;
    white-space: nowrap;
    text-align: center;
}

.btnLink {
    border: none;
    background: transparent;
    cursor: pointer;
    color: blue;
    outline: none;
    text-decoration: underline;
}
.btnLink:hover {
    color: #1a2e41;
}

@media (min-width: 50rem) {
    .listContainer {
        width: 45rem;
    }
    .enrollBtn {
        width: 20%;
    }
}
