.formButton {
    margin: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h2 {
    text-align: center;
}

.formSelectContainer {
    width: 50%;
    align-items: center;
    padding: 0.3rem;
}

.formSelect {
    width: 100%;
}

.dateContainer {
    display: flex;
    flex-direction: column;
}

.datePicker {
    padding: 0.3rem;
    margin: 0.75rem;
    border: 1px outset #eee;
    text-align: center;
    box-shadow: inset 0 2px 2px #aaa;
    line-height: 1rem;
    border-radius: 5%;
}

.label {
    font-weight: bold;
    font-style: italic;
    margin-top: 0.75rem;
    text-align: center;
}

.input {
    margin: 0.5rem;
}

.numInput {
    width: 100%;
}

.buttonContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 50%;
}

@media (min-width: 40rem) {
    .formSelectContainer {
        width: 20rem;
    }
    .timePickerContainer {
        display: flex;
        margin: 1rem;
    }

    .buttonContainer {
        flex-direction: row;
    }

    .formButton {
        width: 35%;
    }
}
