.header {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 8;
    background: #3fc1c9;
    height: 4rem;
}

/* .headerItem {
    margin: auto;
} */

.headerItem {
    display: none;
}

.menuIcon {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    padding: 0.3rem;
    background: burlywood;
}
.menuIcon:hover {
    background: chocolate;
}

@media (min-width: 40rem) {
    .headerItem {
        font-style: italic;
        font-weight: bold;
        text-align: center;
        color: #46a;
        display: initial;
        margin : auto;
        padding-right: 4.5rem;
        font-size: 1.75rem;
    }
}
