.dropdownMenu {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    box-shadow: 0 0.3rem 0.3rem -0.3rem #0c0d0e inset,
        0 -0.3rem 0.3rem -0.3rem #0c0d0e inset;
    overflow: hidden;
    background: #3e5a7b;
}


.dropdownMenu > li > a {
    padding-left: 2rem;
}
.dropdownMenu > li > ul > li a {
    padding-left: 4rem;
}
.dropdownMenu ul {
    background: #4b6d92;
}

.dropDownHeader {
    position: relative;
}

.dropDownHeader:hover > a > .caretIcon,
.dropDownHeader:focus > a > .caretIcon,
.dropDownHeader:active > a > .caretIcon {
    transform: rotate(-90deg);
}

.dropDownHeader:hover > ul,
.dropDownHeader:focus > ul,
.dropDownHeader:active > ul {
    max-height: 500px;
    transition: max-height 0.7s ease-in;
}

.caretIcon {
    margin-left: auto;
    transition: all 0.25s ease-out;
}

.icon {
    margin: 0 0.5rem;
}

@media (min-width: 60rem) {
    .dropdownMenu {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: fit-content;
        min-width: 15rem;
    }

    .dropdownMenu > li > a {
        padding-left: 0.5rem;
    }
    .dropdownMenu > li > ul > li a {
        padding-left: 0.5rem;
    }

    .dropDownHeader:hover > ul,
    .dropDownHeader:focus > ul,
    .dropDownHeader:active > ul {
        display: flex;
    }
}
