.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 75vw;
    max-width: 23rem;
    background: #364f6b;
    z-index: 20;
}

.sidebarHeader {
    padding: 1rem;
    border-bottom: thin solid #23303f;
}

.headerText {
    color: whitesmoke;
    padding: 0.3rem;
    text-align: center;
}

.sidebarBtn {
    width: 80%;
    margin-top: 1.5rem;
    align-self: center;
}

.sidebarLink {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: whitesmoke;
}

.sidebarLink:hover,
.sidebarLink:focus,
.sidebarLink:active {
    background: #5a7696;
}

.sidebarLink.linkActive {
    background: #122b50;
}

.items {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 0.85rem;
}

.icon {
    margin: 0 0.5rem;
}

.item {
    display: flex;
    align-items: center;
}

@media (min-width: 40rem) {
    .items {
        font-size: initial;
    }
}
