.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.filterContainer {
    display: flex;
    flex-flow: column wrap;
    padding: 2rem;
}

.enrollTitle {
    text-align: center;
}

.input {
    padding: 0.3rem;
    margin: 0rem 0.75rem;
}

.modalBox {
    background: white;
    box-shadow: 1px 1px 3px 4px #ccc;
    z-index: 100;
    padding: 3rem;
}

.takenCourseTitle {
    margin-top: 3rem;
}
