.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00808057;
    padding: 2rem;
    background: #00808057;
    max-width: 90%;
}

.item {
    display: flex;
    flex-flow: column wrap;
}

.data {
    font-size: 0.85rem;
    margin: 0.5rem;
}
.label {
    margin: 0.5rem;
    font-size: 0.85rem;
    font-style: italic;
    font-weight: bold;
}

@media (min-width: 40rem) {
    .container {
        min-width: 40%;
    }
}
